@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 18 33% 27%;
    --card: 0 0% 96%;
    --card-foreground: 18 33% 27%;
    --popover: 0 0% 96%;
    --popover-foreground: 18 33% 27%;
    --primary: 18 33% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 32 55% 71%;
    --secondary-foreground: 18 33% 27%;
    --muted: 32 55% 71%;
    --muted-foreground: 18 33% 45%;
    --accent: 32 55% 71%;
    --accent-foreground: 18 33% 27%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 32 55% 85%;
    --input: 32 55% 85%;
    --ring: 18 33% 27%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

